* {
    margin: 0px;
    padding: 0px;
}

/* two things to identify to use CSS */
/* ONE: what are we affecting */
/* TWO: what are we doing with it */
h1 {
    /* within these curly braces are all the changes I will apply to this h1 */
    /* I want to change the font color */
    color:rgb(16, 100, 16);
    text-align: center;
    font-size: 50px;
    margin: 15px;
}

p {
    background-color: aquamarine;
    padding: 10px;

}

.nogreen {
    background-color: red;
}

#mytable {
    background-color: orange;
}

.data {
    background-color: aqua;
}

.italics {
    font-style: italic;
}

ul{
    padding-left: 20px;
}

td{
    padding: 10px;
    color: white;
}
table{
    margin: 10px;
}

.about{
    width: 900px;
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;

}

img {
    margin-left: 20px;
    width: 600px;
}

.list {
    display: inline-block;
    vertical-align: top;
}
.appearances {
    display: inline-block;
    vertical-align: top;
}