.row{
    display:flex;
    justify-content: space-evenly;
}

.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    height: 100px;
    background-color: greenyellow;
}

.col-2{
    height: 100px;
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: greenyellow;
}

.col-3{
    height: 100px;
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: greenyellow;
}