.container{
    margin: auto;
    width: 900px;
    height: 1400;
    
}


.box1{
    width: 98%;
    height: 250px;
    margin: 20px auto;
    background-color: rgb(106, 106, 230);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box2{
    width: 98%;
    height: 250px;
    margin: 20px auto;
    background-color: rgb(106, 230, 123);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box3{
    width: 98%;
    height: 250px;
    margin: 20px auto;
    background-color: rgb(238, 141, 117);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    color: darkgreen;
    font-weight: 800;
    font-size: 65px;
    text-align: center;
    padding: 0px;
}

.img{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
}

img {
    height: 200px;
}

h4{
    text-align: center; 
}